@import '../../variables.scss';

.dashboard-container {
   .dashboard-wrapper {
      display: flex;
      .dashboard-left {
      }
      .dashboard-right {
         flex: 1;
      }
   }
}

@media (max-width: 600px) {
   .dashboard-container {
      .dashboard-wrapper {
         flex-direction: column;
         .dashboard-left {
            display: none;
         }
      }
   }
}
