@import '../../../variables.scss';

.loopItem {
   margin-bottom: 30px;
   cursor: pointer;
   border-radius: $border-radius;
   padding: 15px 18px;
   // transition: 250ms;

   &:hover {
      background-color: rgba($color: $container, $alpha: 1);
   }
   &:hover .loop-head .loop-number button {
      display: flex;
   }
   &:hover .loop-head .loop-number span {
      display: none;
   }
   .loop-head {
      min-height: 56px;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 20px;
      .loop-number.playing {
         span {
            display: none;
         }
         button {
            display: flex;
         }
      }
      .loop-number {
         font-size: 1.6rem;
         display: flex;
         width: 56px;

         // display: none;
         justify-content: center;
         align-items: center;
         span {
         }
         button {
            display: none;
            outline: none;
            border: none;
            height: fit-content;
            width: fit-content;
            background-color: transparent;
            cursor: pointer;
            i {
               font-size: 35px;
               color: $white;
            }
         }
      }

      .loop-author {
         height: 100%;
         display: flex;
         align-items: center;
         // flex: 1;

         .author-avatar {
            border-radius: $border-radius;
            overflow: hidden;
            width: 56px;
            height: 56px;
            // background-color: $black;
            position: relative;

            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               object-position: center;
            }
            .avatar-content {
               position: absolute;
               top: 0;
               left: 0;
               bottom: 0;
               right: 0;
               display: flex;
               opacity: 0;

               align-items: center;
               justify-content: center;
               background-color: rgba($color: $black, $alpha: 0.5);
               z-index: 1;
            }
         }
         .loop-info {
            padding-left: 12px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .loop-name {
               a {
                  font-size: 1.8rem;
                  font-weight: 600;
                  color: $primary-text;
                  &:hover {
                     text-decoration: underline;
                  }
               }
            }
            .loop-name.playing {
               a {
                  color: $primary-color;
               }
            }
            .author-name {
               //  margin-top: 3px;
               color: $secondary-text;
               font-size: 1.3rem;
               font-weight: 400;
               display: flex;
               align-items: center;
               a {
                  // color: $secondary-text;
                  font-size: 1.3rem;
                  font-weight: 400;
                  &:hover {
                     text-decoration: underline;
                  }
               }

               i.divid {
                  font-size: 4px;
                  margin: 0 6px;
               }
               .loop-bpm {
                  color: $primary-color;
               }
               .loop-key {
                  color: $primary-color;
                  i {
                     font-size: 1rem;
                  }
               }
            }
         }
      }
   }
   .waves {
      // display: none;
      max-width: 100%;
   }

   .loop-body {
      // display: none;

      .flex {
         display: flex;
         .description {
            p {
               font-size: 1.5rem;
               max-width: 70%;
            }
         }
         .loop-buttons {
            // padding-right: 20px;
            .loop-download {
               width: 40px;
               height: 40px;
               border-radius: $border-radius;
               position: relative;
               background-color: $container;
               cursor: pointer;

               &::after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 25px;
                  height: 25px;
                  background: url('../../../assets/icons/download.svg');
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                  filter: invert(1);
               }
            }
         }
      }
   }
   .loop-tags {
      display: none;
   }
}
