@import '../../../variables.scss';

.nav-link {
   .link {
      color: $secondary-text;
      transition: 250ms;
      &:hover {
         color: $primary-text;
      }
      &.active {
         color: $primary-color;
         // font-weight: 600;
      }
   }
}

// .active-link {
//    // color: $primary-text;
//    //  font-weight: 600;
//    // &:hover {
//    //    color: $primary-color;
//    // }
// }

// .non-active-link {

// }
