@import '../../../variables.scss';

.active-link {
   // color: $primary-text;
   color: $primary-color;
   //  font-weight: 600;
   &:hover {
      color: $primary-color;
   }
}

.non-active-link {
   color: $secondary-text;
}
