@import '../../variables.scss';

.filters {
   // display: flex;

   width: 100%;
   // margin-bottom: 40px;
   max-width: 250px;
   overflow-y: scroll;
   // height: calc(100vh);
   padding-left: 20px;
   padding-right: 10px;
   padding-bottom: 82px;
   padding-top: 20px;
   &::-webkit-scrollbar {
      width: 6px;
      background: rgba($color: $container, $alpha: 0);
   }
   &::-webkit-scrollbar-thumb {
      border-radius: $border-radius;
      background: $container;
   }
}
