@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import './variables.scss';
// ::-webkit-scrollbar {
//    width: 10px;
//    background: rgba($color: $container, $alpha: 0);
//    border-radius: $border-radius;
//    background: $container;
// }
// ::-webkit-scrollbar-thumb {
//    border-radius: $border-radius;
//    background: $gray;
// }
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   letter-spacing: 0.2px;
}
html {
   font-size: 10px;
   scroll-behavior: smooth;
}
body {
   font-weight: normal;
   font-family: 'Poppins', sans-serif;
   overflow-x: hidden;
   color: $primary-text;
   background-color: $background-color;
}
ul {
   list-style: none;
}
a {
   color: inherit;
   text-decoration: none;
   font-size: 1.6rem;
}
.page-container {
   max-width: 1366px;
   margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
   line-height: 1;
   font-size: 2rem;
}
@media (max-width: 600px) {
   .page-container {
      padding: 0;
   }
   html {
      font-size: 8px;
   }
}
