$background-color: #18191a;
$black: #070707;
$white: #e4e6eb;
$dark-gray: #242526;
$primary-text: #e4e6eb;
$secondary-text: #b0b3b8;

$border-radius: 12px;
$box-shadow: 0 2px 3px 0 $black;

$container: $dark-gray;
